/*
Folha de estilo do site one page HTML5 e CSS3
*/

/* SMARTPHONE PORTRAIT (vertical)>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* SMARTPHONE LANDSCAP (horizontal) >>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width:576px){
    body{
        background-color: #00ffff;
    }
}

/* TABLET PORTRAIT (vertical) >>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width:768px){
    body{
        background-color: #ffff00;
    }
}
/* TABLET PORTRAIT (horizontal) >>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width:992px){
    body{
        background-color: #ff6600;
    }
}
/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width:1200px){
    body{
        background-color: #ff0000;
    }
}
